@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("../pages/slider_test/style.css");
* {
  box-sizing: border-box;
}
/* html {
  --gray: #555;
  --black: #000;
  --white: #fff;
  --darkblue: #000033;
  --almostwhite: #dddddd;
} */
p,
h1,
h2,
h3,
h3,
div {
  font-family: "Open Sans", sans-serif;
}

.page-topmargin {
  /* margin-top: 1rem; */
}
.border {
  border: 1px solid #000;
}

/* navbarr-button */
/* .dropdown {
  position: relative;
  display: inline-block;
  background-color: #fff;
} */

/* button {
  background-image: url("../img/menu.png");
  background-color: var(--white);
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  font-size: 2rem;
 
} */
button:focus,
.dropbtn:focus {
  outline: 1px transparent solid;
  border: 1px transparent solid;
  /* border: 10px solid #000;
  background-color: #f00; */
}
/*  */
/* button:active,
.dropbtn:active {
  border: none;
  border: #000 10px solid;
} */

/* a {
  background-color: #fff !important;
  opacity: 1;
} */
/* .xxx {
  position: static !important;
  z-index: -1;
  background-color: #555;
} */
/* .conteiner,
.row,
.col {
  background-color: #fff;
} */
/* .sellpicture {
  position: relative;
} */

.sellpicture {
  background-color: #000;
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/img-home.jpg");
  background-size: cover;

  background-position: 50% 20%;
  width: 100%;
  height: 450px;
}

.sellpicture_content {
  padding-top: 20%;
  text-align: justify;
}
.sellpicture_header {
  font-size: 2.5rem;
}
.sellpicture_text {
  line-height: 1.5;
}

.text_image {
  width: 50px;
  height: 50px;
}

div[class*="col"] div[class="carousel"] {
  z-index: -1;
}
.text {
  /* margin-top: 2rem; */
  text-align: center;
}
.text_conteiner {
  margin-top: 1rem;
}
.text_image {
  margin-bottom: 0.5rem;
}
.blue_text {
  margin: 0rem 5rem;
  padding: 5rem;
  background-color: var(--darkblue);
  /* margin-top: 5rem; */
  color: #fff;
  text-align: center;
}
.margintop_5rem {
  margin-top: 5rem;
}
.marbot_5rem {
  margin-bottom: 5rem;
}
.todolist_image {
  /* background-image: url("../img/img-06.png"); */
  width: 100%;
}
.margintop--none {
  margin-top: initial;
}
.todolist li::before {
  /* display: list-item;
  list-style-type: decimal;
  list-style-position: outside;
  list-style-image: url("../img/icon_check.png"); */
  /* content: url("../img/icon_check.png"); */

  /* display: list-item;
  list-style-image: url("../favicon_64x64.ico"); */
}
ul li {
  /* list-style-type: circle; */
  list-style-image: url("../img/icon_check.png");
}
/*tady*/
.collaborators {
}
.collaborators_container {
}
.collaborators_img {
  /* margin: 2rem 2rem; */
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

/*  768px*/
@media screen and (min-width: 62em) {
  .sellpicture_content {
    padding-top: 10%;
    margin-left: 10%;
  }
  .text_conteiner p {
    text-align: justify;
    text-align-last: center;
  }
  /* .dropdown_content {
    transform: translate(calc(-100vw + (((100vw - 960px) / 2) + 65px)));
  } */
  /* stejný princip jako u předchozího, jeho změnan šířka divu s obrázkem a tlačítkem, protože je jinak široký*/
}
/* 992px */
@media screen and (min-width: 75em) {
  /* .dropdown_content {
    transform: translate(calc(-100vw + (((100vw - 1140px) / 2) + 65px)));
  } */
  /* stejný princip jako u předchozího, jeho změnan šířka divu s obrázkem a tlačítkem, protože je jinak široký*/
}
/* 1200px */
